@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(214, 100%, 97%);
  --foreground: hsl(229 63% 4%);
  --muted: hsl(229 12% 86%);
  --muted-foreground: hsl(229 10% 37%);
  --popover: hsl(0 0% 99%);
  --popover-foreground: hsl(229 63% 3%);
  --card: hsl(0 0% 99%);
  --card-foreground: hsl(229 63% 3%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --primary: hsl(229 100% 62%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(229 20% 90%);
  --secondary-foreground: hsl(229 20% 30%);
  --accent: hsl(229 28% 85%);
  --accent-foreground: hsl(229 28% 25%);
  --destructive: hsl(3 100% 50%);
  --destructive-foreground: hsl(3 0% 100%);
  --ring: hsl(229 100% 62%);
  --chart-1: hsl(229 100% 62%);
  --chart-2: hsl(229 20% 90%);
  --chart-3: hsl(229 28% 85%);
  --chart-4: hsl(229 20% 93%);
  --chart-5: hsl(229 103% 62%);
  --radius: 0.5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(229 41% 4%);
    --foreground: hsl(229 23% 99%);
  }
} */

.dark {
  --background: hsl(229 41% 4%);
  --foreground: hsl(229 23% 99%);
  --muted: hsl(229 12% 14%);
  --muted-foreground: hsl(229 10% 63%);
  --popover: hsl(229 41% 5%);
  --popover-foreground: hsl(0 0% 100%);
  --card: hsl(229 41% 5%);
  --card-foreground: hsl(0 0% 100%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --primary: hsl(229 100% 62%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(229 14% 8%);
  --secondary-foreground: hsl(229 14% 68%);
  --accent: hsl(229 23% 17%);
  --accent-foreground: hsl(229 23% 77%);
  --destructive: hsl(3 89% 54%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(229 100% 62%);
  --chart-1: hsl(229 100% 62%);
  --chart-2: hsl(229 14% 8%);
  --chart-3: hsl(229 23% 17%);
  --chart-4: hsl(229 14% 11%);
  --chart-5: hsl(229 103% 62%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--ring);
  --color-sidebar-border: var(--border);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar: var(--background);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}